.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(76, 76, 76);
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.navbar-right {
    display: flex;
}
